<div class="container mt-2 bg-dark text-light">
<h1>Add a new movie to your <%= @list.name.downcase %> list</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
<div class="fs-5 font-weight-bold">
  <%= f.association :movie %>
</div>
<div class="fs-5 font-weight-bold">
  <%= f.input :comment %>
</div>
<div class="btn btn-light btn-sm mt-4">
<%= f.submit %>
</div>
<% end %>
</div>
